{% load personnel_filters %}

<style>
    p input {

    }
</style>

<div class="row">

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Your Information
            </div>

            <div class="panel-body">
                <div class="col-md-6">
                    <form action="/personnel/cadets/{{ cadet.id }}/" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        {{ form.as_p }}

                        <span style="float: left; padding-top: 10px">
                            <input class="btn btn-sm btn-success" type="submit" value="Submit" />
                        </span>

                </div>


                {% if user_form %}
                    <div class="col-md-6">
                        <form action="/personnel/cadets/{{ cadet.id }}/" method="post">
                            {% csrf_token %}
                            {% if user_form.errors %}
                                {{ user_form.errors }}
                            {% endif %}
                            {{ user_form.as_p }}

                            <span style="float: left; padding-top: 10px">
                                <input class="btn btn-sm btn-success" type="submit" value="Submit" />
                            </span>
                        </form>
                    </div>
                {% endif %}
                </form>


            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            $("select,:text,:input[type='number'],:input[type='email']").addClass("form-control");
            $(":checkbox").addClass("checkbox");
        });
    </script>

</div>
