{% load pt_filters %}

<script>


    //Flot Line Chart
    $(document).ready(function() {
        var offset = 0;
        plot();

        function plot() {

            var scores = [{% for key,value in data.items %}["{{ key }}", {{ value }}], {% endfor %}];

            {% for key, value in company_scores.items %}
                var scores{{ forloop.counter }} = [
                {% for test, avg in value.items %}
                        ["{{ test }}", {{ avg }}],
                {% endfor %}
                ];
            {% endfor %}

            var options = {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true //IMPORTANT! this is needed for tooltip to work
                },
                yaxis: {
                    min: 0,
                    max: 300
                },
                xaxis: {
                  mode: "categories"
                },
                zoom: {
                  interactive: false
                },
                pan: {
                   interactive: false
                },
                tooltip: true,
                tooltipOpts: {
                    content: "'%s' %x.1 PT test avg score is %y.4",
                    shifts: {
                        x: -60,
                        y: 25
                    }
                }
            };

            var data = [
                            {data: scores, label: "Batallion Average"},

                            {% for key, value in company_scores.items %}
                                {data: scores{{ forloop.counter }}, label: "{{ key.name }}"},
                            {% endfor %}
                        ];
            var plotObj = $.plot($("#company_score_graph"), data, options);

        }
    });
</script>