{% load pt_filters %}

<script>
    //Flot Line Chart
    $(document).ready(function() {
        var offset = 0;
        plot();

        function plot() {

            var scores = [{% for key,value in data.items %}["{{ key }}", {{ value }}], {% endfor %}];

            var pushups = [{% for key, value in pushup_test_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];
            var situps = [{% for key, value in situp_test_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];
            var run = [{% for key, value in run_test_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];

            var options = {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true //IMPORTANT! this is needed for tooltip to work
                },
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                  mode: "categories"
                },
                zoom: {
                  interactive: false
                },
                pan: {
                   interactive: false
                },
                tooltip: true,
                tooltipOpts: {
                    content: "'%s' for %x PT Test is %y.4",
                    shifts: {
                        x: -60,
                        y: 25
                    }
                }
            };

            var data = [
{#                        {data: scores, label: "Avg. Overall Score"},#}
                        {data: pushups, label: "Avg. Pushup Score"},
                        {data: situps, label: "Avg. Situp Score"},
                        {data: run, label: "Avg. Run Score"}

                    ];
            var plotObj = $.plot($("#detail_score_graph"), data, options);
        }
    });
</script>