{% load personnel_filters %}
<style>
    .top_list {
        font-size: 20px;
    }
    #top_pt ul {
        padding: 15px;
    }
</style>

<div class='row'>
	<div class='col-md-8'>
		<div class="panel panel-default">
             <div class="panel-heading">
                 Active Cadets in Batallion
             </div>
             <div class="panel-body">
                 <div class="flot-chart">
                     <div class="flot-chart-content" id="flot-line-chart"></div>
                 </div>
             </div>
         </div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Current Cadets
			</div>
			<div class='panel-body'>
				<div><h3>Active Cadets: {{ cadets.count }}</h3></div>
                <div><h3>Contracted Cadets: {{ contracted_cadets.count }}</h3></div>
                <div><h3>SMP Cadets: {{ smp_cadets.count }}</h3></div>
                <div><h3>Contracted Nursing: {{ nursing_contracted.count }}</h3></div>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Misc Data
			</div>
			<div class='panel-body'>
				<div><h3>Avg. GPA: {{ avg_gpa }}</h3></div>
                <div><h3>At risk cadets: {{ at_risk_cadets.count }}</h3></div>
                <div><h3></h3></div>
			</div>
		</div>
	</div>
	
</div>


<div class="row">
    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Top Average PT Scores
			</div>
			<div class='panel-body top_list'>
				<ul>
                    {% for score, cadet in top_scores %}
                        <li>{{ cadet.get_name }}: {{ score }}</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Highest GPAs
			</div>
			<div class='panel-body top_list'>
				<ul>
                    {% for gpa, cadet in top_gpas %}
                        <li>{{ cadet.get_name }}: {{ gpa }}</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Least Events Missed
            </div>
            <div class="panel-body top_list">
                <ul>
                    <li>First Last: 0</li>
                    <li>First Last: 0</li>
                    <li>First Last: 1</li>
                    <li>First Last: 2</li>
                    <li>First Last: 5</li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class='row'>
<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Gender Comparison
			</div>
			<div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="gender_comparison"></div>
                </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Demographics Breakdown
			</div>
			<div class='panel-body'>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="demographics"></div>
                    </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				MS Level Breakdown
			</div>
			<div class='panel-body'>
				<div class="flot-chart">
                    <div class="flot-chart-content" id="class_breakdown"></div>
                </div>
			</div>
		</div>
	</div>

</div>
