{% load personnel_filters %}

<div class='row'>
	<div class='col-md-8'>
		<div class="panel panel-default">
             <div class="panel-heading">
                 Active Cadets in Batallion
             </div>
             <div class="panel-body">
                 <div class="flot-chart">
                     <div class="flot-chart-content" id="flot-line-chart"></div>
                 </div>
             </div>
         </div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Current Cadets
			</div>
			<div class='panel-body'>
				<div><h3>Active Cadets: {{ cadets.count }}</h3></div>
                <div><h3>Contracted Cadets: {{ contracted_cadets.count }}</h3></div>
                <div><h3>SMP Cadets: {{ smp_cadets.count }}</h3></div>
                <div><h3>Contracted Nursing: {{ nursing_contracted.count }}</h3></div>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Misc Data
			</div>
			<div class='panel-body'>
				<div><h3>Avg. GPA: {{ avg_gpa }}</h3></div>
                <div><h3>At risk cadets: {{ at_risk_cadets.count }}</h3></div>
                <div><h3></h3></div>
			</div>
		</div>
	</div>
	
</div>


<div class='row'>
<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Gender Comparison
			</div>
			<div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="gender_comparison"></div>
                </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Demographics Breakdown
			</div>
			<div class='panel-body'>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="demographics"></div>
                    </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				MS Level Breakdown
			</div>
			<div class='panel-body'>
				<div class="flot-chart">
                    <div class="flot-chart-content" id="class_breakdown"></div>
                </div>
			</div>
		</div>
	</div>

</div>


<div class='row'>
	<div class='col-md-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Six
				</div>
				<div class='panel-body'>
					Six
				</div>
			</div>
		</div>
	
</div>

