{% extends 'datatable_base.html' %}

<!-- The Title of the page -->
{% block page_header %}
	Cadet Listing
{% endblock %}

<!-- The title of the datatable -->
{% block table_title %}
	Cadet Listing - DataTable
{% endblock %}

<!-- This block determines the columns in the datatable -->
{% block columns %}
	 <th>Last Name</th>
	 <th>First Name</th>
{% endblock %}

<!-- This block handles putting data into the datatable -->
<!-- Each td tag corresponds to its respective column header as listed in the columns block -->
{% block table_data %}
	{% for cadet in cadets %}
	   <tr class="odd gradeX">
	       <td>{{cadet.last_name}}</td>
	       <td>{{cadet.first_name}}</td>
	   </tr>
   {% endfor %}
{% endblock %}



