{% extends 'base.html' %}
{% load staticfiles %}
{% load personnel_filters %}
{% load permission_filters %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/plugins/ColReorder/dataTables.colReorder.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/plugins/ColVis/dataTables.colVis.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/plugins/TableTools/dataTables.tableTools.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    {{ cadet.user.first_name }} {{ cadet.user.last_name }}
{% endblock %}

{% block content %}
    <ul class='nav nav-tabs'>
        <li {% if tab == "overview" %}class="active"{% endif %}><a href="#overview" data-toggle="tab">Overview</a></li>
        <li {% if tab == "pt" %}class="active"{% endif %}><a href="#pt" data-toggle="tab">PT Details</a></li>
        {% if user|has_permission:cadet %}
            <li {% if tab == "edit" %}class="active"{% endif %}><a href="#edit" data-toggle="tab">Edit Information</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">

        <div class='tab-pane fade{% if tab == "overview" %} in active{% endif %}' id='overview'>
            {% include 'personnel/cadet_page/cadet_page_profile.html' %}
        </div>

        <div class='tab-pane fade{% if tab == "pt" %} in active{% endif %} ' id='pt'>
            {% include 'personnel/cadet_page/cadet_page_pt.html' %}
        </div>

        {% if user|has_permission:cadet %}
            <div class='tab-pane fade{% if tab == "edit" %} in active{% endif %} ' id='edit'>
                {% include 'personnel/cadet_page/cadet_page_edit.html' %}
            </div>
        {% endif %}

    </div>
{% endblock %}