{% load personnel_filters %}
{% block cadet_profile %}
<div class='row'>
			<div class='col-lg-8'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						Overview Information
					</div>
					<div class='panel-body'>
						<p>Eagle ID: {{cadet.eagle_id}}</p>
						<p>Gender: {{cadet.gender}}</p>
						<p>Age: {{cadet.age}}</p>
						<p>GPA: {{cadet.gpa}}</p>
                        <p>Contracted: {{cadet.contracted|interpret_bool}}</p>
						<p>SMP: {{cadet.smp|interpret_bool}}</p>
                        <hr>
                        <p>Profile: {{ cadet.on_profile|interpret_bool }}</p>
                        <p>At Risk: {{ cadet.at_risk|interpret_bool }}</p>
						<hr>
						<p>Email: {{cadet.email}}</p>
						<p>Cell Number: {{cadet.cell_number|phone_format}}</p>
					</div>
				</div>
			</div>
			
			
			<div class='col-lg-4'>
				<div class = 'panel panel-default'>
					<div class='panel-heading'>
						Assignment Information
					</div>
					<div class='panel-body'>
                        {% with commissioned=cadet.commissioned %}
							<p>Cadet Status:
								<span style="color: {{cadet.dropped|active_color:commissioned}}">
									{{cadet.dropped|active_cadet:commissioned}}
								</span>
							</p>
						{% endwith %}
						<p>MS Class: {{cadet.ms_level}}</p>
						<p>Company: {{cadet.company}}</p>
                        <p>Platoon: </p>
                        <hr>
						<p>Staff: {{cadet.is_staff|interpret_bool}}</p>
						<p>Company Staff: {{cadet.is_company_staff|interpret_bool}}</p>
                        <!--TODO Need a way to get staff position that a cadet has-->
                        <p>Staff Position: </p>
                        <hr>
                        <p>Nursing Cadet: {{ cadet.nurse|interpret_bool }}</p>
                        <p>Ranger Challenge: {{ cadet.ranger_challenge|interpret_bool }}</p>
                        <p>Color Guard: {{ cadet.color_guard|interpret_bool }}</p>
					</div>
				</div>
			</div>
</div>
			
		<!-- These next two col-lg-8's might need to be in the same row to commpensate for a long col-lg-4 on the side -->
		<div class='row'>
		
			<div class='col-lg-8'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						Attendance
					</div>
					<div class='panel-body'>
						Attendance Things
					</div>
				</div>
			</div>
			
			<div class='col-lg-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						Misc
					</div>
					<div class='panel-body'>
						Notifications
					</div>
				</div>
			</div>
			
		</div>
		
			
		<div class='row'>
			<div class='col-lg-8'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						PT - Three Most Recent Tests	
					</div>
					<div class='panel-body'>
						<table class="table">
							<thead>
								<tr>
									<td>Test</td>
									<td>Pushups</td>
									<td>Situps</td>
									<td>Two Mile Time</td>
									<td>Overall Score</td>
								</tr>
							</thead>
							
							<tbody>
								{% for score in scores %}
									<tr>
										<td>{{score.pt_test.date}}</td>
										<td>{{score.pushups}}</td>
										<td>{{score.situps}}</td>
										<td>{{score.get_run_time_str}}</td>
										<td>{{score.score}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
{% endblock %}