{% extends 'base.html' %}
{% load static %}
{% load personnel_filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}" />
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class='row'>
	    <div class='col-md-4'>


            <h2 style="margin-top: 1px; padding-top: 3px">Options</h2>

            <div class = 'panel panel-default'>
					<div class='panel-heading'>
						Assignment Information
					</div>
					<div class='panel-body'>
                        {% with commissioned=cadet.commissioned %}
							<p>Cadet Status:
								<span style="color: {{cadet.dropped|active_color:commissioned}}">
									{{cadet.dropped|active_cadet:commissioned}}
								</span>
							</p>
						{% endwith %}
						<p>MS Class: <a href='/personnel/ms-classes/{{ cadet.ms_level }}'>{{cadet.ms_level}}</a></p>
						<p>Company:
                            {% if cadet.company %}
                                <a href='/personnel/companys/{{ cadet.company.id }}'>{{ cadet.company }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <p>Platoon:
                            {% if cadet.platoon %}
                                <a href='/personnel/companys/{{ cadet.company }}/platoons/{{ cadet.platoon.id }}'>{{ cadet.platoon.display_name }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <p>Squad: {% if cadet.squad %}{{ cadet.squad.short_name }}{% else %}None{% endif %}</p>
                        <hr>
                        <p>Staff Position: {{ cadet.get_staff_position|interpret_none }}</p>
					</div>
				</div>

{#            <div class="panel panel-primary">#}
{#                <div class="panel-heading">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-3">#}
{#                            <i class="fa fa-comments fa-5x"></i>#}
{#                        </div>#}
{#                        <div class="col-xs-9 text-right">#}
{#                            <div class="huge">26</div>#}
{#                            <div>New Comments!</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="panel-footer">#}
{#                        <span class="pull-left">View Details</span>#}
{#                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{##}
{#            <div class="panel panel-green">#}
{#                <div class="panel-heading">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-3">#}
{#                            <i class="fa fa-tasks fa-5x"></i>#}
{#                        </div>#}
{#                        <div class="col-xs-9 text-right">#}
{#                            <div class="huge">12</div>#}
{#                            <div>New Tasks!</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="panel-footer">#}
{#                        <span class="pull-left">View Details</span>#}
{#                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{##}
{#            <div class="panel panel-primary">#}
{#                <div class="panel-heading">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-3">#}
{#                            <i class="fa fa-comments fa-5x"></i>#}
{#                        </div>#}
{#                        <div class="col-xs-9 text-right">#}
{#                            <div class="huge">26</div>#}
{#                            <div>New Comments!</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="panel-footer">#}
{#                        <span class="pull-left">View Details</span>#}
{#                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}



        </div>

	    <div class='col-md-8'>
            <div id="calendar">

            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    {% include 'index/js/fullcalendar_init.html' %}
{% endblock %}