{% extends 'base.html' %}
{% load static %}
{% load personnel_filters %}
{% load permission_filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}" />
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block content %}

    <style>
    .panel-info-p {
        text-decoration: underline;
    }
    </style>

    <div class='row'>
	    <div class='col-md-4'>


            <h2 style="margin-top: 1px; padding-top: 3px">Assignment Information</h2>

            <div class = 'panel panel-default'>
					<div class='panel-heading'>

					</div>
					<div class='panel-body'>
                        {% if user|is_cadet %}
                            <p><span class="panel-info-p">Cadet</span>: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></p>
                            {% with commissioned=cadet.commissioned %}
                                <p><span class="panel-info-p">Cadet Status</span>:
                                    <span style="color: {{cadet.dropped|active_color:commissioned}}">
                                        {{cadet.dropped|active_cadet:commissioned}}
                                    </span>
                                </p>
                            {% endwith %}
                            <p><span class="panel-info-p">MS Class</span>: <a href='/personnel/ms-classes/{{ cadet.ms_level.id }}'>{{cadet.ms_level}}</a></p>
                            <p><span class="panel-info-p">Company</span>:
                                {% if cadet.company %}
                                    <a href='/personnel/companies/{{ cadet.company.id }}'>{{ cadet.company }}</a>
                                {% else %}
                                    None
                                {% endif %}
                            </p>
                            <p><span class="panel-info-p">Platoon</span>:
                                {% if cadet.platoon %}
                                    <a href='/personnel/platoons/{{ cadet.platoon.id }}'>{{ cadet.platoon.short_name }}</a>
                                {% else %}
                                    None
                                {% endif %}
                            </p>
                            <p><span class="panel-info-p">Squad</span>:
                                {% if cadet.squad %}
                                    <a href='/personnel/squads/{{ cadet.squad.id }}/'>{{ cadet.squad.short_name }}</a>
                                {% else %}None{% endif %}
                            </p>
                            <hr>
                            <p><span class="panel-info-p">Staff Position</span>: {{ cadet.get_staff_position|interpret_none }}</p>
                        {% elif user|is_cadre %}
                            <p>Cadre: {{ cadre.rank }} {{ cadre.get_name }}</p>
                            {% if cadre.ms_level_assignment %}
                                <p>Instructor for:
                                    <a href="/personnel/ms-classes/{{ cadre.ms_level_assignment.id }}">
                                        {{ cadre.ms_level_assignment }}
                                    </a>
                                </p>
                            {% else %}
                                <p>Position: {{ cadre.position }}</p>
                            {% endif %}
                        {% endif %}
					</div>
				</div>


        </div>

	    <div class='col-md-8'>
            <div id="calendar">

            </div>
        </div>
    </div>



    {# full calendar event modal #}
    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary"><a id="eventUrl" target="_blank">Test Profile</a></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    {% include 'index/js/fullcalendar_init.html' %}
{% endblock %}