{% extends 'base.html' %}
{% load static %}
{% load personnel_filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}" />
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block content %}

    <style>
    .panel-info-p {
        text-decoration: underline;
    }
    </style>

    <div class='row'>
	    <div class='col-md-4'>


            <h2 style="margin-top: 1px; padding-top: 3px">Assignment Information</h2>

            <div class = 'panel panel-default'>
					<div class='panel-heading'>

					</div>
					<div class='panel-body'>

                        <p><span class="panel-info-p">Cadet</span>: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></p>
                        {% with commissioned=cadet.commissioned %}
							<p><span class="panel-info-p">Cadet Status</span>:
								<span style="color: {{cadet.dropped|active_color:commissioned}}">
									{{cadet.dropped|active_cadet:commissioned}}
								</span>
							</p>
						{% endwith %}
						<p><span class="panel-info-p">MS Class</span>: <a href='/personnel/ms-classes/{{ cadet.ms_level }}'>{{cadet.ms_level}}</a></p>
						<p><span class="panel-info-p">Company</span>:
                            {% if cadet.company %}
                                <a href='/personnel/companys/{{ cadet.company.name }}'>{{ cadet.company }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <p><span class="panel-info-p">Platoon</span>:
                            {% if cadet.platoon %}
                                <a href='/personnel/companys/{{ cadet.company }}/platoons/{{ cadet.platoon.id }}'>{{ cadet.platoon.display_name }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </p>
                        <p><span class="panel-info-p">Squad</span>: {% if cadet.squad %}{{ cadet.squad.short_name }}{% else %}None{% endif %}</p>
                        <hr>
                        <p><span class="panel-info-p">Staff Position</span>: {{ cadet.get_staff_position|interpret_none }}</p>
					</div>
				</div>


        </div>

	    <div class='col-md-8'>
            <div id="calendar">

            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    {% include 'index/js/fullcalendar_init.html' %}
{% endblock %}