{% load pt_filters %}

<style>
    .top_list {
        font-size: 20px;
    }
    #top_pt ul {
        padding: 15px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Company Comparison for this Test
            </div>
            <div class="panel-body">
                <div class="flot-chart-content" id="company_comparison" style="height: 350px; width: 100%;"></div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Test Information
            </div>
            <div class="panel-body">
                <p class="panel-test-list">MS Classes: <span class="test-list-value">
                    {% for level in test.ms_levels.all %}
                        {% if not forloop.last %}
                            <span>{{ level }},</span>
                        {% else %}
                            <span>{{ level }}</span>
                        {% endif %}
                    {% endfor %}
                </span></p>
                <p>Diagnostic: {{ test.diagnostic }}</p>
                <p>Record: {{ test.record }}</p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadets Taking this Test
            </div>
            <div class="panel-body">
                <div style="float: left;">
                    <p>Total (optimal): {{ test.get_optimal_cadet_count }}</p>
                    <p>Total (actual): {{ test.get_actual_cadet_count }}</p>
                </div>
                <div style="float: right">
                    <p>Missing Records: {{ test.get_missing_record_count }}</p>
                     <p>Profiles: </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Highest Scores for This Test (Overall)
			</div>
			<div class='panel-body top_list'>
                <ol>
                    {% for score, cadet in top_scores %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
			</div>
		</div>
	</div>

    <div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Highest Scores for this Test (Non-Contracted Cadets)
			</div>
			<div class='panel-body top_list'>
                <ol>
                    {% for score, cadet in top_non_contracted_scores %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
			</div>
		</div>
	</div>

</div>

{# third large row #}
<div class="row">
    <div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Top Platoons for this Test
			</div>
			<div class='panel-body top_list'>
                <ol>
                    {% for score, platoon in top_platoons %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in platoon %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/companies/{{ platoon.company.id }}/platoons/{{ platoon.id }}/">{{ platoon }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
			</div>
		</div>
	</div>

    <div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Top Squads for the Test
			</div>
			<div class='panel-body top_list'>
                <ol>
                    {% for score, squad in top_squads %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in squad %}
                                    {% if forloop.last %}
                                        <a href="/personnel/companies/squads/{{ c.id }}/">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/companies/squads/{{ c.id }}/">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/squads/{{ squad.id }}/">{{ squad }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
			</div>
		</div>
	</div>

</div>

