{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'css/less/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/boostrap/bootstrap_form_control.js' %}"></script>
    <link href="{% static 'css/less/bootstrap-datepicker/datepicker.css' %}" rel="stylesheet">

{% endblock %}

{% block page_header %}
    {% if test_form.is_bound %}
        {{ test_form.instance }}
    {% else %}
        Add PT Test
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <form method="post"
                {% if edit%}
                action="/pt/tests/edit/{{ test_form.instance.id }}/"
                {% else %}
                action="{% url 'add_pt_test' %}"
                {% endif %}
            >
                {% for field in test_form %}
                    {% csrf_token %}

                    <div class="row" style="margin: 25px 0;">

                        <div class="col-md-2">
                            <div style="display: inline-block; float: left">{{ field.label_tag }}</div>
                        </div>
                        <div class="col-md-6">
                            <div style="display: inline-block">{{ field }}</div>
                        </div>

                    </div>
                {% endfor %}
                <input class="btn btn-sm btn-success" type="submit" value="Submit" />
            </form>

        </div>
    </div>



{% endblock %}