{% extends 'datatables/tabbed_datatable.html' %}
{% load pt_filters %}

{% block table_title %}
	{% with scores|first as first_score %} {{first_score.pt_test}} {% endwith %}
{% endblock %}

{% block columns%}
	<th>Last, First Name</th>
	<th>Pushups</th>
    <th>Pushup Score</th>
	<th>Situps</th>
    <th>Situps Score</th>
	<th>Two Mile Time</th>
    <th>Two Mile Score</th>
	<th>Score</th>
    <th>Pass/Fail</th>
    <th>Company</th>
    <th>MS Level</th>
{% endblock %}

{% block table_data %}
	{% for score in scores %}
		<tr class="odd gradeX">
				<td><a href="/personnel/cadets/{{ score.cadet.id }}/pt/">{{score.cadet}}</a></td>
				<td>{{ score.pushups }}</td>
                <td>{{ score.pushups_score }}</td>
				<td>{{ score.situps }}</td>
				<td>{{ score.situps_score }}</td>
				<td>{{ score.get_run_time_str }}</td> <!-- Not sorting properly. May have to do with creating in pop script -->
                <td>{{ score.run_score }}</td>
				<td>{{ score.score }}</td>
                <td>{{ score.passing|pass_fail }}</td>
                <td>{{ score.cadet.company }}</td>
                <td>{{ score.cadet.ms_level }}</td>
		</tr>
	{% endfor %}
{% endblock %}

{% block display_column_index %}
0,1,3,5,7,8
{% endblock %}