{% extends 'datatables/datatable_base.html' %}

<!-- The Title of the page -->
{% block page_header %}
	Cadet Listing
{% endblock %}

<!-- The title of the datatable -->
{% block table_title %}
	Cadet Listing - DataTable
{% endblock %}

<!-- This block determines the columns in the datatable -->
{% block columns %}
	 <th>Last, First Name</th>
	 <th>Company</th>
	 <th>MS Class</th>
	 <th>Contracted</th>
	 <th>SMP</th>
	 <th>Cell Number</th>
	 <th>MS Grade</th>
	 
{% endblock %}

{% block table_footer %}
	 <td>Last, First Name</td>
	 <td>Company</td>
	 <td>MS Class</td>
	 <td>Contracted</td>
	 <td>SMP</td>
	 <td>Cell Number</td>
	 <td>MS Grade</td>
{% endblock %}

<!-- This block handles putting data into the datatable -->
<!-- Each td tag corresponds to its respective column header as listed in the columns block -->
{% block table_data %}
	{% for cadet in cadets %}
	   <tr class="odd gradeX">
	       <td><a href = "/personnel/cadets/{{cadet.id}}">{{cadet.user.last_name}}, {{cadet.user.first_name}}</a></td>
	       <td><a href = "/personnel/companys/{{cadet.company}}">{{cadet.company}}</a></td>
	       <td><a href = "/personnel/ms-classes/{{cadet.ms_level}}">{{cadet.ms_level}}</a></td>
	       <td>{{cadet.contracted}}</td>
	       <td>{{cadet.smp}}</td>
	       <td>({{cadet.cell_number|slice:":3"}})-{{cadet.cell_number|slice:"3:6"}}-{{cadet.cell_number|slice:"6:10"}}</td>
	       <td>{{cadet.ms_grade}}</td>
	   </tr>
   {% endfor %}
{% endblock %}

<!-- A column index is all that is needed for this block to display a column index by default. Use Commas to separate ints -->
{% block display_column_index %}
<!--0, 1--> <!-- This would display the first two columns by default -->
0, 1, 2
{% endblock %}