{% extends 'base.html' %}
{% load personnel_filters %}

{% block page_header %}
	{{cadet.first_name}} {{cadet.last_name}}
{% endblock %}

{% block content %}
	<div class='row'>
		<div class='col-lg-8'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Overview Information
				</div>
				<div class='panel-body'>
					<p>Eagle ID: {{cadet.eagle_id}}</p>
					<p>Gender: {{cadet.gender|default_blank}}</p>
					<p>GPA: {{cadet.gpa}}</p>
					<p>Military Science Grade: {{cadet.ms_grade}}</p>
				</div>
			</div>
		</div>
		<div class='col-lg-4'>
			<div class = 'panel panel-default'>
				<div class='panel-heading'>
					Assignment Information
				</div>
				<div class='panel-body'>
					<p>MS Class: {{cadet.ms_level}}</p>
					<p>Company: {{cadet.company}}</p>
					<p>Staff: {{cadet.is_staff|interpret_bool}}</p>
					<p>Company Staff: {{cadet.is_company_staff|interpret_bool}}</p>
					<hr>
					<p>Contracted: {{cadet.contracted|interpret_bool}}</p>
					<p>SMP: {{cadet.smp|interpret_bool}}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}