{% extends 'base.html' %}
{% load staticfiles %}


{% block page_header %}
Personnel Statistics
{% endblock %}

{% block content %}
	<ul class='nav nav-tabs'>
		<li {% if tab == "cadets" %}class="active"{% endif %}><a href="#cadets" data-toggle="tab">Cadets</a></li>
		<li {% if tab == "companies" %}class="active"{% endif %}><a href="#companies" data-toggle="tab">Companies</a></li>
		<li {% if tab == "ms" %}class="active"{% endif %}><a href="#ms" data-toggle="tab">MS Levels</a></li>
	</ul>
	
	<div class="tab-content">
		
		<div class='tab-pane fade{% if tab == "cadets" %} in active{% endif %}' id='cadets'>
			{% include 'personnel/stats_cadets.html' %}
		</div>
		
		
		<div class='tab-pane fade{% if tab == "companies" %} in active{% endif %} ' id='companies'>
			{% include 'personnel/stats_companies.html' %}
		</div>
		
		
		<div class='tab-pane fade{% if tab == "ms" %} in active{% endif %}' id='ms'>
			{% include 'personnel/stats_ms.html' %}
		</div>
	</div>
{% endblock %}

{% block page_scripts %}
	<script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
	<script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
    {% include 'personnel/js/flot_chart' %}
    {% include 'personnel/js/pie_chart' %}
{% endblock %}