<div class='row'>
	<div class='col-md-8'>
		<div class="panel panel-default">
             <div class="panel-heading">
                 Line Chart Example
             </div>
             <div class="panel-body">
                 <div class="flot-chart">
                     <div class="flot-chart-content" id="flot-line-chart"></div>
                 </div>
             </div>
         </div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Current Cadets
			</div>
			<div class='panel-body'>
				<div><h3>Active Cadets: {{ current_cadets.count }}</h3></div>
                <div><h3>Contracted Cadets: {{ contracted_cadets.count }}</h3></div>
                <div><h3>SMP Cadets: {{ smp_cadets.count }}</h3></div>
			</div>
		</div>
	</div>
	
</div>


<div class='row'>
<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Gender Comparison
			</div>
			<div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="gender_comparison"></div>
                </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Volunteer Hour Completion
			</div>
			<div class='panel-body'>
                {% if volunteer_hours == 0 %}
                    0% of cadets have completed their volunteer hours
                {% elif not_volunteer_hours == 0 %}
                    100% of Cadets Have completed volunteer hours
                {% else %}
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="volunteer_hours"></div>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				MS Level Breakdown
			</div>
			<div class='panel-body'>
				<div class="flot-chart">
                    <div class="flot-chart-content" id="class_breakdown"></div>
                </div>
			</div>
		</div>
	</div>

</div>


<div class='row'>
	<div class='col-md-6'>
			<div class='panel panel-default'>
				<div class='panel-heading'>
					Six
				</div>
				<div class='panel-body'>
					Six
				</div>
			</div>
		</div>
		
		<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Seven
			</div>
			<div class='panel-body'>
				Seven
			</div>
		</div>
	</div>
	
	
</div>