{% extends 'base.html' %}
{% load staticfiles %}


{% block page_header %}
{{ group }}
{% endblock %}

{% block content %}
	<ul class='nav nav-tabs'>
		<li {% if tab == "stats" %}class="active"{% endif %}><a href="#stats" data-toggle="tab">Stats</a></li>

        {% if listing_template %}
		    <li {% if tab == "listing" %}class="active"{% endif %}><a href="#listing" data-toggle="tab">Group Listing</a></li>
        {% endif %}

        {% if cadet_listing_template %}
            <li {% if tab == "cadetlisting" %}class="active"{% endif %}><a href="#cadetlisting" data-toggle="tab">Cadet Listing</a></li>
        {% endif %}
	</ul>
	
	<div class="tab-content">
		
		<div class='tab-pane fade{% if tab == "stats" %} in active{% endif %}' id='stats'>
			{% include 'personnel/group_pages/grouping_stats.html' %}
		</div>
		
		{% if listing_template %}
		<div class='tab-pane fade{% if tab == "listing" %} in active{% endif %} ' id='listing'>
			{% include listing_template %}
		</div>
        {% endif %}

        {% if cadet_listing_template %}
            <div class='tab-pane fade{% if tab == "cadetlisting" %} in active{% endif %} ' id='cadetlisting'>
			    {% include cadet_listing_template %}
		    </div>
        {% endif %}

		</div>
	</div>
{% endblock %}

{% block page_scripts %}
	<script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.time.js' %}"></script>
	<script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.categories.min.js' %}"></script>

    {% include 'personnel/group_pages/js/flot_pie.html' %}
    {% include 'personnel/group_pages/js/flot_test_scores.html' %}
{% endblock %}