{% extends 'datatables/tabbed_datatable.html' %}
{% load personnel_filters %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block table_title %}
    {{ group }} Cadet Listing
{% endblock %}

{% block columns %}
    <th>Name</th>
    <th>MS Class</th>
    <th>Phone Number</th>
{% endblock %}

{% block table_data %}
    {# a group can be an actual group (company) or a cadet #}
    {% for cadet in cadets %}
        <tr>
            <td><a href="{% url 'cadetpage' cadet.id %}">{{ cadet }}</a></td>
            <td><a href="{% url 'grouping_detail' 'ms_level' cadet.ms_level.id %}">{{ cadet.ms_level }}</a></td>
            <td>{{ cadet.cell_number|phone_format }}</td>
        </tr>
    {% endfor %}
{% endblock %}