{% load personnel_filters %}
{% load permission_filters %}

<style>
    .top_list {
        font-size: 20px;
    }
    #top_pt ul {
        padding: 15px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
             <div class="panel-heading">
                 PT Detail Data by Test
             </div>
             <div class="panel-body">
                 <div class="flot-chart">
                     <div class="flot-chart-content" id="test_score_graph"></div>
                 </div>
             </div>
         </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadet Count
            </div>
            <div class="panel-body">
                <div><h3>Current Cadets: {{ cadets.count }}</h3></div>
                <div><h3>Contracted cadets: {{ contracted_cadets.count }}</h3></div>
                <div><h3>SMP Cadets: {{ smp_cadets.count }}</h3></div>
            </div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Misc Data
            </div>
            <div class="panel-body">
                <div><h3>Avg. GPA: {{ avg_gpa }}</h3></div>
                <div><h3>At Risk Cadets: {{ at_risk_cadets.count }}</h3></div>
                <div><h3>Profiles: {{ profiles.count }}</h3></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Top Average PT Scores
			</div>
			<div class='panel-body top_list'>
				<ul>
                    {% for score, cadet in top_scores.items %}
{#                        <li>{{ cadet.get_name }}: {{ score }}</li>#}
                          {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Highest GPAs
			</div>
			<div class='panel-body top_list'>
                {% if user|super_permissions %}
				<ul>
                    {% for gpa, cadet in top_gpas.items %}
                        {% if cadet|is_list %}
                            <li> {{ gpa }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ gpa }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ul>
                {% else %}
                <p>You do not have access to see this information</p>
                {% endif %}
			</div>
		</div>
	</div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cumulative Scores
            </div>
            <div class="panel-body top_list">
                {% if user|super_permissions %}
                <ul>
                    {% for score, cadet in top_cumulative_scores.items %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c }};</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p>You do not have access to see this information</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<div class='row'>
    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Gender Comparison
            </div>
            <div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="gender_comparison"></div>
                </div>
            </div>
        </div>
    </div>



    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Volunteer Hour Completion
            </div>
            <div class='panel-body'>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="volunteer_completion"></div>
                    </div>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                MS Level Breakdown
            </div>
            <div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="class_breakdown"></div>
                </div>
            </div>
        </div>
    </div>

</div>

