{% load permission_filters %}

    <style>
        .panel-test-list {
        border-top: #DFDFDF 1px solid;
        padding-top: 10px;
        padding-bottom: 5px;
        }
        .test-list-value {
            float: right;
        }

    </style>

<div class="row">

    {% for grouping in sub_groupings %}
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" style="display: inline-block">
                        <h3 class="panel-title">{{ grouping }} </h3>
                    </a>
                    {% if user|super_permissions %}
                        <a href="#" style="display: inline-block; float: right">
                            <h3 class="panel-title">
                            <span class="glyphicon glyphicon-edit" style="float: right;"> Edit</span>
                            </h3>
                        </a>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div style="font-size: 150px; height: 200px; text-align: center">{{ grouping.number }}</div>

                        <div class="panel-test-list">Platoon Leader
                            <a href="#">
                                <span class="test-list-value">{{ platoon.platoon_commander }}</span>
                            </a>
                        </div>
                        <div class="panel-test-list">Platoon Sergeant <span class="test-list-value">Name</span></div>
                        <div class="panel-test-list">Cadet Count <span class="test-list-value">{{ grouping.count }}</span></div>

                </div>
            </div>
        </div>

    {% endfor %}
</div>