{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				PT Tests
			</div>
			<div class="panel-body">
				<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>MS Level 1</th>
						<th>MS Level 2</th>
						<th>MS Level 3</th>
						<th>MS level 4</th>
					</tr>
				{% for test in tests %}
					<tr>
						<td>{{test.date}}</td>
						<td>{{test.MsLevelOne}}</td>
						<td>{{test.MsLevelTwo}}</td>
						<td>{{test.MsLevelThree}}</td>
						<td>{{test.MsLevelFour}}</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Average PT Score by Company
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Company</th>
						<th>Pushup</th>
						<th>Situps</th>
						<th>Two-mile time</th>
					</tr>
					{% for company, scores in company_scores.items %}
					<tr>
						<td>{{company}}</td>
						{% for name, value in scores.items %}
							{% if not forloop.last %}
							<td>{{value|floatformat:'0'}}</td>
							{% else %}
								<td>{{value|floatformat:'2'}}</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}