{% extends 'datatable_base.html' %}

{% block page_header %}
	PT Scores
{% endblock %}

{% block table_title %}
	{% with scores|first as first_score %} {{first_score.pt_test}} {% endwith %}
{% endblock %}

{% block columns%}
	<th>Last, First Name</th>
	<th>Pushups</th>
	<th>Sit-ups</th>
	<th>Two Mile Time</th>
	<th>Score</th>
{% endblock %}

{% block table_data %}
	{% for score in scores %}
		<tr class="odd gradeX">
				<td>{{score.cadet}}</td>
				<td>{{score.pushups}}</td>
				<td>{{score.situps}}</td>
				<td>{{score.two_mile}}</td> <!-- Not sorting properly. May have to do with creating in pop script -->
				<td>{{score.score}}</td>
		</tr>
	{% endfor %}
{% endblock %}