{% extends 'base.html' %}
{% load staticfiles %}
{% block page_header %}
    PT Test Listing Page
<style type="text/css">
    {% include 'pt/css/test_listing_page.css' %}
</style>
{% endblock %}

{% block content %}
<div class="row">
    {% for test in tests %}
        {% with avgScore=test.getAvgTotalScore %}
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ test.getAddress }}">
                        <h3 class="panel-title">{{ test }} <span class="glyphicon glyphicon-stats" style="float: right;"></span></h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart" style="height: 200px;">
                            <div class="flot-chart-content" id="test-{{ test.id }}"></div>
                        </div>
                        <div class="panel-test-list">Number of participants <span class="test-list-value">{{ test.getNumberOfScores }}</span></div>
                        <div class="panel-test-list">Highest score <span class="test-list-value">{{ test.getHighestScore }}</span></div>
                        <div class="panel-test-list">Lowest score <span class="test-list-value">{{ test.getLowestScore }}</span></div>
                    </div>
                </div>
            </div>
            {# This is the script for displaying the pie charts #}
            {% include 'pt/js/pt_test_pie_chart' %}
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/plugins/jquery-browser-plugin/jquery.browser.min.js' %}"></script>
	<script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.time.js'  %}"></script>
	<script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
{% endblock %}