{% extends 'base.html' %}
{% load static %}
{% load permission_filters %}
{% load bootstrap %}

{% block head %}
    <script src="{% static 'css/less/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <link href="{% static 'css/less/bootstrap-datepicker/datepicker.css' %}" rel="stylesheet">


{% endblock %}

{% block page_header %}
    {% if edit %}
        Edit {{ company }} Company
    {% else %}
        Add Company
    {% endif %}

    {% if edit %}
        <div style="display: inline-block; float: right">
            <a class="btn btn-danger btn-md" onclick="$('#deleteModal').modal()" role="button">Delete Company</a>
        </div>
    {% endif %}

{% endblock %}

<style>
    input,select
    {
        width: 80%;
    }
</style>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <form method="post" class="form-horizontal"
                {% if edit %}
                action="{% url 'edit_company' company.id %}"
                {% else %}
                action="{% url 'add_company' %}"
                {% endif %}
            >
                {{ form|bootstrap_horizontal }}
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
            </form>

        {% if edit %}
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{% url 'delete_company' company.id %}" method="post">
                            {% csrf_token %}
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Company to delete: <span id="query-string"></span></h4>
                            </div>
                            <div class="modal-body" id="delete-modal-body">

                                <p>Are you sure you wish to delete {{ company }} Company?</p>
                                <p>
                                    -By deleting this company, all platoons and squads associated with {{ company }} company
                                     will also be deleted.
                                </p>
                                <p>
                                    -All cadets associated with {{ company }} company will no longer be assigned to a company, platoon, or squad
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        </div>
    </div>
</div>

    <script>
        $(document).ready(function() {
            $("select,:text,:input[type='number'],:input[type='email']").addClass("form-control");
            $(":checkbox").addClass("checkbox");

            $("#id_birth_date").addClass("date");
            $(".date").datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>




{% endblock %}