{% extends 'datatables/datatable_base.html' %}
{% load pt_filters %}


{% block page_header %}
Cadet PT Listing Page
{% endblock %}

{% block table_title %}
Cadets Listing
{% endblock %}

{% block columns %}
	<td>Cadet</td>
    <td>Avg. Pushup Count</td>
	<td>Avg. Pushup Score</td>
    <td>Avg. Situp Count</td>
	<td>Avg. Situp Score</td>
    <td>Avg. Run Time</td>
    <td>Avg. Run Score</td>
    <td>Avg. Total Score</td>
{#    <th>Pass Rate</th>#}
{% endblock %}

{% block table_footer %}
	<td>Cadet</td>
    <td>Avg. Pushup Count</td>
	<td>Avg. Pushup Score</td>
    <td>Avg. Situp Count</td>
	<td>Avg. Situp Score</td>
    <td>Avg. Run Time</td>
    <td>Avg. Run Score</td>
    <td>Avg. Total Score</td>

{% endblock %}

{% block table_data %}
	{% for cadet, scores in score_dict.items %}

        <tr>
            <td><a href="{% url 'cadetpage' cadet.id %}">{{ cadet }}</a></td>
            <td>{{ scores.pushups.raw }}</td>
            <td>{{ scores.pushups.score }}</td>
            <td>{{ scores.situps.raw }}</td>
            <td>{{ scores.situps.score }}</td>
            <td>{{ scores.run.raw }}</td>
            <td>{{ scores.run.score }}</td>
            <td>{{ scores.total }}</td>
        </tr>

    {% endfor %}
{% endblock %}