{% extends 'datatables/datatable_base.html' %}
{% block page_header %}
{{cadet.get_name}}'s PT Details
{% endblock %}

{% block table_title %}
{{cadet.get_name}}'s PT Scores
{% endblock %}

{% block columns%}
	<th>PT Test</th>
	<th>Pushups</th>
	<th>Situps</th>
	<th>Two Mile time</th>
{% endblock %}

{% block table_data %}
	{% for score in scores %}
	<tr class="odd gradeX">
		<td>{{score.pt_test}}</td>
		<td>{{score.get_pushups}}</td>
		<td>{{score.get_situps}}</td>
		<td>{{score.get_run_time_str}}</td>
	</tr>
	{% endfor %}
{% endblock %}