{% extends 'datatables/standard_table.html' %}


{% block table_title %}
	Platoon Listing - <a href="/personnel/companys/{{ company.name }}/cadets">Cadet Listing</a>
{% endblock %}

{% block columns %}
    <th>Name</th>
	<th>Platoon Sergeant</th>
    <th>Platoon Commander</th>
{% endblock %}

{% block table_data %}
	{% for group in groups %}
        <tr>
            <td><a href="{{ link }}/{{ group.name }}">{{ group }}</a></td>
            {% if group.platoon_sergeant %}
                <td><a href="/personnel/cadets/{{ group.platoon_sergeant.id }}">{{ group.platoon_sergeant }}</a></td>
            {% else %}
                <td>None</td>
            {% endif %}
            {% if group.platoon_commander %}
                <td><a href="/personnel/cadets/{{ group.platoon_commander.id }}">{{ group.platoon_commander }}</a></td>
            {% else %}
                <td>None</td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}