{% load pt_filters %}

<script>
    //Flot Line Chart
    $(document).ready(function() {
        var offset = 0;
        plot();

        function plot() {

            var scores = [{% for key,value in avg_overall_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];

            var pushups = [{% for key, value in avg_pushup_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];
            var situps = [{% for key, value in avg_situp_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];
            var run = [{% for key, value in avg_run_scores.items %}["{{ key }}", {{ value }}], {% endfor %}];

            var options = {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.3,
                        stack: false
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true //IMPORTANT! this is needed for tooltip to work
                },
                yaxis: {
                    min: 0,
                    max: 300         },
                xaxis: {
                  mode: "categories",
{#                  categories: [{% for key, value in data.items %}"{{ key }}", {% endfor %}]#}
                },
                tooltip: true,
                tooltipOpts: {
                    content: "'%s' is %y.4",
                    shifts: {
                        x: -60,
                        y: 25
                    }
                }
            };

            var plotObj = $.plot($("#company_comparison"),
                    [
                        {data: scores, label: "Avg. Overall Score", bars: {
                            show: true,
                            barWidth: 0.2,
                            order: 0
                        }},
                        {data: pushups, label: "Avg. Pushup Score", bars: {
                            show: true,
                            barWidth: 0.2,
                            order: 1
                        }},
                        {data: situps, label: "Avg. Situp Score", bars: {
                            show: true,
                            barWidth: 0.2,
                            order: 2
                        }},
                        {data: run, label: "Avg. Run Score", bars: {
                            show: true,
                            barWidth: 0.2,
                            order: 3
                        }}

                    ],
                options);
        }
    });
</script>