{% load personnel_filters %}
{% load permission_filters %}

<style>
    .top_list {
        font-size: 20px;
        padding: 15px;
    }
</style>

<div class='row'>
	<div class='col-md-8'>
		<div class="panel panel-default">
             <div class="panel-heading">
                 Active Cadets in Batallion
             </div>
             <div class="panel-body">
                 <div class="flot-chart">
                     <div class="flot-chart-content" id="flot-line-chart"></div>
                 </div>
             </div>
         </div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Current Cadets
			</div>
			<div class='panel-body'>
				<div><h3>Active Cadets: {{ cadets.count }}</h3></div>
                <div><h3>Contracted Cadets: {{ contracted_cadets.count }}</h3></div>
                <div><h3>SMP Cadets: {{ smp_cadets.count }}</h3></div>
                <div><h3>Contracted Nursing: {{ nursing_contracted.count }}</h3></div>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Misc Data
			</div>
			<div class='panel-body'>
				<div><h3>Avg. GPA: {{ avg_gpa }}</h3></div>
                <div><h3>At risk cadets: {{ at_risk_cadets.count }}</h3></div>
                <div><h3></h3></div>
			</div>
		</div>
	</div>
	
</div>


<div class="row">
    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Top Average PT Scores
			</div>
			<div class='panel-body top_list'>
				<ol>
                    {% for score, cadet in top_scores %}
                        {% if cadet|is_list %}
                            {% for c in cadet %}
                                <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet.short_name }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}"> {{ cadet.short_name }}</a></li>
                        {% endif %}
                    {% endfor %}
				</ol>
			</div>
		</div>
	</div>

    <div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Highest GPAs
			</div>
			<div class='panel-body top_list'>
                {% if user|super_permissions %}
				<ul>
                    {% for gpa, cadet in top_gpas %}
                        {% if cadet|is_list %}
                            <li> {{ gpa }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c.short_name }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c.short_name }},</a>
                                    {% endif %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ gpa }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet.short_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p>You do not have access to view this information</p>
                {% endif %}
			</div>
		</div>
	</div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Top Cumalitive Scores
            </div>
            <div class="panel-body top_list">
                {% if user|super_permissions %}
                <ul>
                    {% for score, cadet in top_cumulative_scores.items %}
                        {% if cadet|is_list %}
                            <li> {{ score }}:
                                {% for c in cadet %}
                                    {% if forloop.last %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c.short_name }}</a>
                                    {% else %}
                                        <a href="/personnel/cadets/{{ c.id }}">{{ c.short_name }},</a>
                                    {% endif %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% else %}
                            <li>{{ score }}: <a href="/personnel/cadets/{{ cadet.id }}">{{ cadet.short_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p>You do not have access to view this information</p>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<div class='row'>
<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Gender Comparison
			</div>
			<div class='panel-body'>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="gender_comparison"></div>
                </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				Demographics Breakdown
			</div>
			<div class='panel-body'>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="demographics"></div>
                    </div>
			</div>
		</div>
	</div>
	
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				MS Level Breakdown
			</div>
			<div class='panel-body'>
				<div class="flot-chart">
                    <div class="flot-chart-content" id="class_breakdown"></div>
                </div>
			</div>
		</div>
	</div>

</div>
