{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block page_header %}
    Organize Cadets

    <div style="display: inline-block; float: right">
        <button class="btn btn-success" data-toggle="modal" data-target="#confirm-delete">
            Save Changes
        </button>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="font-size: large">
                        Be aware that any changes made here will immediately go into effect, changing all necessary rosters and reports.
                        Are you sure you wish to continue?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-success btn-ok" onclick="save()" data-dismiss="modal">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <style>

        #cadet_container
        {
{#            margin-top: 15px;#}
        }
        #cadet_container ul{
          width:100%;
          overflow:hidden;
        }

        #cadet_container li{

        }

        .quad li
        {
          width: 20%;
          line-height:1.5em;
          border-bottom:1px solid #ccc;
          float:left;
          display:inline;
          margin: 10px 0 5px 0;
        }

        .unassigned_cadets,.assigned_cadet,.inactive_cadets,.commissioned_cadets
        {
            cursor: move;
        }

        .droppable
        {
            border: 1px solid #3C3C3C;
            border-radius: 10px;
        }

        .droppable_hover
        {
            background-color: rgba(66, 157, 146, 0.11);
            border: 2px solid #3C3C3C;
        }

    </style>

    <div class="row">
        <div class="col-md-12">
            <ul class='nav nav-tabs'>

                {% csrf_token %}
                {% for company in companies %}
                    <li {% if tab == company.name  %}class="active"{% endif %}><a href="#{{ company.name }}" data-toggle="tab">{{ company }}</a></li>
                {% endfor %}

            </ul>
            <div class="tab-content">

                {% for company in companies %}
                    <div class='tab-pane fade{% if tab == company.name %} in active{% endif %}' id='{{ company.name }}'>
                        {% include 'personnel/command_management/organize_cadets_company.html' %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>



    {# TODO make nav-tabs droppable. EX: a cadet should be able to get moved from unasigned to inactive by dropping their name on the inactive tab #}
    <div class="row" id="cadet_container">
        <hr>
        <div class="col-md-12">

              <ul class="nav nav-tabs">
                <li class="active"><a href="#unassigned" data-toggle="tab">Unassigned</a></li>
                <li><a href="#inactive" data-toggle="tab">Inactive</a></li>
                <li><a href="#commissioned" data-toggle="tab">Commissioned</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active grouping" id="unassigned">
                    <ul class="quad">
                        {% for cadet in unassigned_cadets %}
                            <li>
                                <span class="unassigned_cadets" data-id={{ cadet.id }}>
                                    <span style="font-size: large;">
                                        {{ cadet }}
                                    </span>
                                    <span style="font-size: small">
                                        {{ cadet.ms_level.name }}
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="tab-pane fade in" id="inactive">
                  <div class="tab-pane fade in active">
                    <ul class="quad">
                        {% for cadet in inactive_cadets %}
                            <li>
                                <span class="inactive_cadets" data-id={{ cadet.id }}>
                                    <span style="font-size: large;">
                                        {{ cadet }}
                                    </span>
                                    <span style="font-size: small">
                                        {{ cadet.ms_level.name }}
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>

                <div class="tab-pane fade in" id="commissioned">
                  <div class="tab-pane fade in active">
                    <ul class="quad">
                        {% for cadet in commissioned_cadets %}
                            <li>
                                <span class="commissioned_cadets" data-id={{ cadet.id }}>
                                    <span style="font-size: large;">
                                        {{ cadet }}
                                    </span>
                                    <span style="font-size: small">
                                        {{ cadet.ms_level.name }}
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>


              </div>



        </div>
    </div>






{% endblock %}

{% block page_scripts %}
    <script>
        {% include 'personnel/command_management/js/csrf_override.js' %}
        {% include 'personnel/command_management/js/organization.js' %}
    </script>
{% endblock %}