{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'jquery-ui-1.11.4.custom/jquery-ui.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <script src="{% url 'render_dd_js' %}"></script>

    <link href="{% static 'css/orgChart.css' %}" rel="stylesheet">
    <script src="{% static 'js/orgChart.js' %}"></script>
    <script src="{% static 'js/jquery.panzoom.min.js' %}"></script>

{% endblock %}

{% block page_header %}
    Chain of Command Organization
{% endblock %}

{% block content %}

    <style>

    </style>




{% endblock %}