{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block page_header %}
    Organize Cadets

    <div style="display: inline-block; float: right">
        <a class="btn btn-success btn-md" onclick="save()" role="button">Save Changes</a>
    </div>
{% endblock %}

{% block content %}

    <style>

        #cadet_container ul{
          width:100%;
          margin-bottom:20px;
          overflow:hidden;
        }
        #cadet_container li{
          line-height:1.5em;
          border-bottom:1px solid #ccc;
          float:left;
          display:inline;
        }

        #quad li
        {
            width: 20%;
        }

        .unassigned_cadets
        {
            cursor: move;
        }

        .assigned_cadet
        {
            cursor: move;
        }

        .droppable
        {
            border: 1px solid #3C3C3C;
        }

        .droppable_hover
        {
            background-color: rgba(66, 157, 146, 0.11);
            border: 2px solid #3C3C3C;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <ul class='nav nav-tabs'>

                {% for company in companies %}
                    <li {% if tab == company.name  %}class="active"{% endif %}><a href="#{{ company.name }}" data-toggle="tab">{{ company }}</a></li>
                {% endfor %}

            </ul>
            <div class="tab-content">

                {% for company in companies %}
                    <div class='tab-pane fade{% if tab == company.name %} in active{% endif %}' id='{{ company.name }}'>
                        {% include 'personnel/command_management/organize_cadets_company.html' %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="row grouping" id="cadet_container">
        <hr>
        <div class="col-md-12">
            <ul id="quad">
                {% for cadet in unassigned_cadets %}
                    <li><span class="unassigned_cadets" data-id={{ cadet.id }}>{{ cadet }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
    <script>
        {% include 'personnel/command_management/js/organization.js' %}
    </script>
{% endblock %}