{% load personnel_filters %}

<style>

    .squad_container
    {
        text-align: center;
        list-style: none;
    }
    .squad_title
    {
        margin: 10px 0 5px 0;
        font-size: 25px;
    }
    .squad_leader_container
    {
        font-size: large;
        min-width: 35%;
        display: inline-block;
    }

    .grouping-flex{
    display:flex;
    margin-top: 10px;
    font-size: large;
    }

    .fixed{
        width: 200px;
    }

    .platoon_staff_position {
        width: 200px;
    }

    .platoon_staff_container
    {
        margin-bottom: 15px;
    }

</style>

<div class="platoon_staff_container grouping" data-id="{{ platoon.id }}">
    <div class="grouping-flex">
        <div class="fixed">Platoon Commander:</div>
        <div class="platoon_staff_position" data-staff="PL">
            <span>
            {% if platoon.platoon_commander %}
                <span class='assigned_cadet staff' data-id="{{ company.company_commander.id }}" data-staff="PL">
                        <span style="font-size: large">
                            {{ platoon.platoon_commander }}
                        </span>
                        <span style="font-size: small">
                            {{ platoon.platoon_commander.ms_level.name }}
                        </span>
                </span>
            {% endif %}
            </span>
        </div>
        </div>

        <div class="grouping-flex">
        <div class="fixed">Platoon Sergeant:</div>
        <div class="platoon_staff_position" data-staff="PS">
            <span>
            {% if platoon.platoon_sergeant %}
                <span class='assigned_cadet staff' data-id="{{ company.executive_officer.id }}" data-staff="PS">
                        <span style="font-size: large">
                            {{ platoon.platoon_sergeant }}
                        </span>
                        <span style="font-size: small">
                            {{ platoon.platoon_sergeant.ms_level.name }}
                        </span>
                </span>
            {% endif %}
            </span>
        </div>
        </div>
</div>


{% for squad in platoon.get_sub_groupings %}
    <div class="col-sm-{{ platoon.get_sub_groupings|fill_squad_columns }}">
        <ul class="squad_container grouping" data-id="{{ squad.id }}">
            <div class="squad_title">{{ squad.short_name }}</div>
            <div class="squad_leader_container">
                <span style="float: left">SL:
                    {# surrounded with an extra span so the SL: span won't get deleted on drop #}
                    <span>
                        {% if squad.squad_leader %}
                            <span class='assigned_cadet staff' data-id="{{ squad.squad_leader.id }}" data-staff="SL">
                                    <span style="font-size: large">
                                        {{ squad.squad_leader }}
                                    </span>
                                    <span style="font-size: small">
                                        {{ squad.squad_leader.ms_level.name }}
                                    </span>
                            </span>
                        {% endif %}
                    </span>
                </span>
            </div>
            {% for cadet in squad.get_squad_members %}
                <li>
                    <span class='assigned_cadet' data-id="{{ cadet.id }}">
                        <span style="font-size: large">
                            {{ cadet }}
                        </span>
                        <span style="font-size: small">{{ cadet.ms_level.name }}</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
